[Unit]
Description=YARN Nodemanager Service

[Service]
LimitNOFILE=65535
Environment=LC_ALL=en_US.UTF-8
Environment=LANG=en_US.UTF-8
Type=simple
User={{ yarn_user }}
Group={{ yarn_group }}
ExecStart={{ hadoop_path_install }}/bin/yarn nodemanager
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
